<div class="container-fluid mb-2">
  <div class="row" style="height:85%">
    <div class="col-6 bg-info">
      <div class="row perfect-center" style="height:15%">
    <h2>The name</h2>
      </div>
      <div class="row perfect-center mb-4" style="height:40%">
        <img class="img-fluid" src="../../../assets/images/beaglelabs.webp">
      </div>
      <div class="row perfect-center" style="height:30%">
        <div class="col-8 perfect-center ">
          <h3 class="font_7">The voyage of the HMS Beagle gave birth to an idea so profound as to reshape our beliefs
            and change the course
            of human thought. The name, Beagle Labs, is a nod to the power of an idea. </h3>
        </div>
      </div>
      <div class="row perfect-center" style="height:15%">
        <a class="btn btn-light" href="mailto:shruti.hegde@beaglelabs.io?subject=Howdy!" data-content="shruti.hegde@beaglelabs.io"
          data-type="mail" role="button">Contact</a>
      </div>
    </div>
    <div class="col-6 bg-white">
      <div class="row perfect-center" style="height:15%">
        <h2>The Product</h2>
      </div>
      <div class="row perfect-center" style="height:40%">
        <img class="img-fluid" style="height:100%" style="height:90%" src="../../../assets/images/wanderfool.JPG">
      </div>
      <div class="row perfect-center" style="height:30%">
        <div class="col-8 perfect-center">
          <h3 class="font_7">From avid travelers to arm-chair explorers, wandering is for everyone. Build on others'
            experiences to make your
            own. </h3>
        </div>
      </div>
      <div class="row perfect-center" style="height:15%">
        <a class="btn btn-dark mb-3" href="mailto:shruti.hegde@beaglelabs.io?subject=Howdy!" data-content="shruti.hegde@beaglelabs.io"
          data-type="mail" role="button">Go forth and wander</a>
      </div>
    </div>
  </div>
</div>
